/* @media (max-width: 576px) {

    }

main {
        width: 50em;
        text-align: justify;
        margin-left: 35px;
        margin-right: 100px;
    }
  }
  */


/* 
main {
    width: 50em;
    text-align: justify;
    margin-left: 35px;
    margin-right: 100px;
} */

