.carrinho_lista {
    width: 60%;
    margin: 80px auto 0;
    border: 1px solid black;
}

.carrinho_checkout {
    display: grid;
    grid-template-columns: 1fr 2fr 1fr 1fr;
    justify-items: center;
    align-items: center;
    padding: 10px;
}

.carrinho_checkout img {
    width: 80px;
}