#conta-principal{
  font-family: "Courier";
}

#conta-principal #titulo-conta{
  font-size: 36px;
  color: #A37B45;
  text-align: left;
  text-transform: uppercase;
}

#conta-principal .conta-div-principal{
  margin-top: 20px;
  box-shadow: 0px 0px 10px 0px rgba(134,148,42,0.8);
}

#conta-principal .conta-div-principal img{
  width: 45%;
}

#conta-principal .conta-div-principal .titulo-conta-2{
  padding: 0;
  margin: 50px auto;
}
