.display-4 {
    font-family: "Courier";
    color: #507642;
    font-weight: bold;
    font-size: 35px;
    margin-left: 25px;
    height: 10px;      
}

.text-contato {
	font-family: "Courier";
	font-weight: bold;
	color: #507642;
	width: max-content; 
}

.form-group {
    font-family: "Courier";
	font-weight: bold;
	color: #507642;
	text-align: justify;
}

.h6 {
    font-family: "Courier";
	font-weight: bold; 
	color: #507642;
	width: max-content; 
}

.social {
    display: block;
}

.icones {
    margin: 0 10px;
	margin-left: 15px;
	color: #507642;
}

.btn {
    background: #507642;
    font-family: "Courier";
    font-weight: bold;
	color: #fff; 
	display: block;	
}

  