.main-account{
  margin: 0;
  padding: 0;
  font-family: "Courier";
}
.main-account .title-account{
  font-size: 48px;
  text-align: left;
}

.main-account .box-account{
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around;
}

.main-account .account{
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
  align-content: space-around;
}

.main-account .account-icon{
  width: 20vw;
  background-color: #fff;
  margin: 40px 0;
  display: flex;
  justify-content: center;
  border-radius: 5px;
}

.main-account .account{
 border: 2px solid rgba(134,148,42,0.8);
 margin: 40px 30px;
 display: flex;
 justify-content: center;
 border-radius: 5px;
 width: 50vw;
}

.main-account .account-txt p{
  font-size: 24px;
  text-align: left;
}

.main-account .title-account-2{
  text-align: left;
  text-transform: uppercase;
  font-size: 36px;
  margin: 30px;
}

.main-account .title-account-2:hover{
  text-decoration: underline;
}

.main-account .account-icon{
  font-size: 120px;
  color: #507642;
  display: block;
}

.main-account .account-txt{
  width: 100%;
}

.main-account .account-prev{
  width: 55px;
  height: 55px;
  border: 2px solid rgba(134,148,42,0.8);
  border-radius: 50%;
  text-align: center;
  margin-right: 30px;
  display: inline-block;
  text-align: center;
}

.main-account .icon-prev{
  color: rgba(134,148,42,0.8);
  font-size: 48px;
  text-align: right;
}
