/* Carousel */
.glide_main,
.glide__track__main,
.glide__slides__main,
.glide__slides__main img {
    width: 100%;
    height: 350px;
    cursor: pointer;
}

.glide {
    cursor: default;
}

.glide__bullet {
    padding: 7px;
}

.glide__arrow {
    background-color: #507642;
    border: none;
    color: #fff; 
    font-size: 20px;  
    border-radius: 50%;
    width: 40px;
    height: 40px;
    padding: 10px;
}

.glide__arrow:hover {
    background-color: rgba(80, 118, 66, 0.8);
}

.glideMultiplos {
    width: 90%;
    margin: 0 auto;
}

.glideMultiplos img{
    width: 120px;
}

.glideMultiplos h3{
    margin-bottom: 0;
}

.glideMultiplos h4{
    margin-top: 0;
    font-size: 1.4em;
    font-weight: bold;
}

.glideMultiplos .desconto{
    text-decoration: line-through;
    margin-bottom: 0;
    font-weight: 400;
}

.glideMultiplos .add_carrinho {
    background-color: transparent;
    border: 1px solid #000;
    padding: 10px 20px;
    cursor: pointer;
}

.glideMultiplos .add_carrinho:hover {
    background-color: #507642;
    color: #fff;
}

.glide__track__multiplo .glide__slide {
    box-shadow: 0 1px 3px rgba(0,0,0,0.12), 0 1px 2px rgba(0,0,0,0.24);
    background-color: #F3F4EC;
    width: 200px;
    padding: 30px 0;
}

section h2 {
    margin-top: 15vh;
    text-transform: uppercase;
}

/* Newsletter */
.newsletter {
    height: 150px;
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 20vh 0;
    background-image: url("https://cdn.pixabay.com/photo/2016/03/27/19/32/blur-1283865_1280.jpg");
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    font-size: 30px;
    font-weight: bold;
    color: #fff;
    text-shadow: -1px 0 black, 0 1px black, 1px 0 black, 0 -1px black;
}

.newsletter form {
    width: 40%;
    display: flex;
    justify-content: space-around;
    align-items: center;
}

.newsletter input {
    width: 80%;
    height: 35px;
    padding-left: 10px;
    border: 1px solid #000;
    font-size: 16px;
}

.newsletter button {
    background-color: #507642;
    color: #fff;
    border: none;
    padding: 5px 20px;
    font-weight: bold;
    font-size: 16px;
    cursor: pointer;
    box-shadow: 3px 3px 0 rgba(0.1, 0.1, 0.1, 0.4);
}

.newsletter button:hover {
    background-color: #86942A;
}

@media (max-width: 576px) {
    .glide_main,
    .glide__track__main,
    .glide__slides__main,
    .glide__slides__main img {
        width: 100%;
        height: 250px;
        cursor: pointer;
    }
    
}

@media (max-width: 768px) {
    .glide_main,
    .glide__track__main,
    .glide__slides__main,
    .glide__slides__main img {
        width: 100%;
        height: 300px;
        cursor: pointer;
    }

    .newsletter {
        font-size: 20px;
        justify-content: space-around;
    }

    .newsletter button {
        font-size: 14px;    
        padding: 5px 10px;
        margin-left: 5px;
    }
}

@media (max-width: 992px) {

}

@media (max-width: 1200px) {
    
}