html {
    scroll-behavior: smooth;
}

body{
    padding: 0;
    margin: 0;
}

/* INÃCIO DO MENU + FOOTER */

#menu {
    display: flex;
    align-items: center;
    background-color: #507642;
    height: 100px;
    font-family: "Courier";
}

#menu .icon {
    font-size: 25px;
}

#menu .logo {
    width: 15%;
    margin: 0 auto;
}

#menu .logo img{
    width: 100%;
}

#menu .busca {
    width: 50%;
}

#menu .busca form {
    display: flex;
    justify-content: center;
}

#menu .busca form .search {
	padding: 0 30px;
	width: 70%;
	font-size: 18px;
    border-radius: 20px 0 0 20px;
    height: 35px;
}

#menu .busca form .submit {
	cursor: pointer;
	border: none;
	background-size: 35px 35px;
	border-radius: 0 20px 20px 0;
	display: inline-block;
	width: 40px;
}

#menu .login {
    width: 15%;
}

#menu a {
    display: flex;
    justify-content: center;
    align-items: center;
    text-decoration: none;
    color: #000;
}

#menu .login .icon {
    padding: 10px;
    border-radius: 50%;
    border: 1.2px solid #000;
}

#menu .login p {
    padding: 10px;
    font-size: 16px;
    font-weight: 700;
}

#menu .carrinho {
    display: flex;
    width: 10%;
    justify-content: center;
}


header nav {
    display: flex;
    background-color: #86942A;
    margin: 0;
    padding: 0;
}

header nav ul {
    width: 100%;
    margin: 0;
    padding: 0;
    list-style: none;
    display: flex;
    justify-content: space-around;
    align-items: center;
}

header nav ul a {
    text-decoration: none;
    color: #F3F4EC;
    text-transform: uppercase;
    font-family: "Courier";
    font-weight: bold;
    font-size: 14px;
}

/* Dropdown */
header nav ul li {
    display: block;
    transition-duration: 0.5s;
    position: relative;
    padding: 0.7rem;
}

header nav li:hover {
    background-color: #507642;
    cursor: pointer;
}

header nav ul li ul {
    visibility: hidden;
    opacity: 0;
    position: absolute;
    transition: all 0.5s ease;
    margin-top: 0.7rem;
    left: 0;
    display: none;
    background-color: #86942A;
}

header nav ul li:hover > ul,
header nav ul li:focus-within > ul,
header nav ul li ul:hover {
    visibility: visible;
    opacity: 1;
    display: block;
    z-index: 1;
}

header nav li:focus-within a {
  outline: none;
}

header nav ul li ul li {
    clear: both;
    z-index: 1;
}

.page-container {
    position: relative;
    min-height: 100vh;
}

footer {
    font-family: "Courier";
    position: absolute;
    bottom: 0;
    width: 100%;
    height: 2.5rem;
    color: #fff;
}

footer .seta a {
    display: flex;
    justify-content: center;
    align-items: flex-end;
    transition: 1s;
}

footer .container {
    padding-top: 20px;
    padding-bottom: 60px;
    background-color: #507642;
    display: flex;
    justify-content: space-evenly;
}

footer .container h3 {
    text-transform: uppercase;
    font-weight: bold;
    font-size: 20px;
}

footer .container ul {
    padding: 0;
}

footer .container ul li {
    list-style: none;
    margin-bottom: 10px;
}

footer .container ul li a{
    text-decoration: none;
    color: #fff;
}

footer .container ul li a:hover{
    border-bottom: 1.5px solid #fff;
}

footer .container .pagamento ul {
    display: flex;
}

footer .container .pagamento img {
    max-width: 50px;
    border-radius: 6px;
    padding: 0 5px;
}

footer .msg {
    background-color: #86942A;
    padding: 10px 0;
    text-align: center;
    font-size: 10px;
    font-weight: bold;
}

/* FINAL DO MENU + FOOTER*/




main {
    margin: 50px auto 0;
    text-align: center;
    padding-bottom: 7rem;
}