html {
    scroll-behavior: smooth;
}

body{
    padding: 0;
    margin: 0;
}

/* INÍCIO DO MENU + FOOTER */

#menu {
    display: flex;
    align-items: center;
    background-color: #507642;
    height: 100px;
    font-family: "Courier";
}

#menu .icon {
    font-size: 25px;
}

#menu .logo {
    width: 15%;
    margin: 0 auto;
}

#menu .logo img{
    width: 100%;
}

#menu .busca {
    width: 50%;
}

#menu .busca form {
    display: flex;
    justify-content: center;
}

#menu .busca form .search {
	padding: 0 30px;
	width: 70%;
	font-size: 18px;
    border-radius: 20px 0 0 20px;
    height: 35px;
}

#menu .busca form .submit {
	cursor: pointer;
	border: none;
	background-size: 35px 35px;
	border-radius: 0 20px 20px 0;
	display: inline-block;
	width: 40px;
}

#menu .login {
    width: 15%;
}

#menu a {
    display: flex;
    justify-content: center;
    align-items: center;
    text-decoration: none;
    color: #000;
}

#menu .login .icon {
    padding: 10px;
    border-radius: 50%;
    border: 1.2px solid #000;
}

#menu .login p {
    padding: 10px;
    font-size: 16px;
    font-weight: 700;
}

#menu .carrinho {
    display: flex;
    width: 10%;
    justify-content: center;
}

.navbar,
.navbar .dropdown-menu {
    background-color: #86942A;
    color: #fff;
}

.navbar-nav  {
    flex: 1;
    margin: auto;
    display: flex;
    justify-content: space-around;
}

.navbar ul li:hover,
.navbar .dropdown-menu a:hover {
    background-color: #507642;
}

.navbar a{
    color: #fff;
}

footer {
    font-family: "Courier";
    text-align: left;
    position: absolute;
    bottom: 0;
    width: 100%;
    height: 2.5rem;
    color: #fff;
}

footer .seta a {
    display: flex;
    justify-content: center;
    align-items: flex-end;
    transition: 1s;
}

footer .container-footer {
    padding-top: 20px;
    padding-bottom: 60px;
    background-color: #507642;
    display: flex;
    justify-content: space-evenly;
}

footer .container-footer h3 {
    text-transform: uppercase;
    font-weight: bold;
    font-size: 20px;
}

footer .container-footer ul {
    padding: 0;
}

footer .container-footer ul li {
    list-style: none;
    margin-bottom: 10px;
}

footer .container-footer ul li a{
    text-decoration: none;
    color: #fff;
}

footer .container-footer ul li a:hover{
    border-bottom: 1.5px solid #fff;
}

footer .container-footer .pagamento ul {
    display: flex;
}

footer .container-footer .pagamento img {
    max-width: 50px;
    border-radius: 6px;
    padding: 0 5px;
}

footer .msg {
    background-color: #86942A;
    padding: 10px 0;
    text-align: center;
    font-size: 10px;
    font-weight: bold;
}

/* FINAL DO MENU + FOOTER*/

.page-container {
    position: relative;
    min-height: 100vh;
}

main {
    margin: 50px auto 70px;
    text-align: center;
    padding-bottom: 7rem;
    overflow: hidden;
}