.container-contato .titulo-contato {
    margin-left: 25px;
    height: 10px;      
}

.container-contato .text-contato {
	font-family: "Courier";
	font-weight: bold;
	color: #507642;
	width: max-content; 
}

.container-contato .form-group {
    font-family: "Courier";
	font-weight: bold;
	color: #507642;
	text-align: justify;
}

.container-contato .endereco-contato {
	font-family: "Courier";
	font-size: 20px;
	font-weight: bold; 
	color: #507642;
	width: max-content; 
}

.container-contato .btn {
    background: #507642;
    font-family: "Courier";
    font-weight: bold;
	color: #fff; 
	display: block;	
}